<div class="navigation open" id="open">
    <div class="menuToggle"><a class="btn"(click)='verHome()'><h5>Portal Docente</h5></a> </div>
    <ul>
        <li class="list hover" style="--clr:#f44336;">
            <a class="btn" (click)='verHome()'>
                <span class="icon"> 
                    <i class="bi bi-house"></i>
                </span>
                <span class="text">Inicio</span>
            </a>
        </li>
        <li class="list hover" style="--clr:#ffa117;">
            <a href="">
                <span class="icon"> 
                    <i class="bi bi-cpu"></i>
                </span>
                <span class="text">Arquitectura</span>
            </a>
        </li>
        <li class="list hover" style="--clr:#0fc70f;">
            <a href="">
                <span class="icon">
                    <i class="bi bi-lightbulb"></i>
                </span>
                <span class="text">IOT</span>
            </a>
        </li>
        <li class="list hover" style="--clr:#2196f3;">
            <a href="">
                <span class="icon">
                    <i class="bi bi-file-lock"></i>
                </span>
                <span class="text">Seguridad</span>
            </a>
        </li>
        <li class="list hover" style="--clr:#b145e9;">
            <a href="">
                <span class="icon">
                    <i class="bi bi-door-open"></i>
                </span>
                <span class="text">Salir</span>
            </a>
        </li>
    </ul>
 
</div>

